<script>
    import { base } from "$app/paths";
</script>
<ul>
  <li><a href="{base}/sun">THE SUN</a></li>
  <li><a href="{base}/spider">THE SPIDER</a></li>
  <li><a href="{base}/eye">THE EYE</a></li>
  <!-- <li><a href="{base}/charcoal">O CARVÃO</a></li> -->
  <li><a href="{base}/other">THE OTHER</a></li>
  <li><a href="{base}/glue">THE GLUE</a></li>
  <!-- <li><a href="{base}/marrow">O TUTANO</a></li> -->
  <!-- <li><a href="{base}/flux">O FLUXO</a></li> -->
  <!-- <li><a href="{base}/mirror">O ESPELHO</a></li> -->
</ul>

<style>
  ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  li {
    margin: 3px 0;
  }
</style>